{% extends 'Admin/baseadmin.html.twig' %}

{% block pageTitle %}Administration de la galerie{% endblock %}

{% block content %}

    <div class="container">
        <h1>Administration de la galerie
            <a class="btn btn-success btn-lg pull-right" href="admin.php?route=admingalleryadd">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Ajouter une image
            </a>
        </h1>
            <div class="row">
                {% for picture in pictures %}
                    <div class="col-lg-3">
                        <div class="gallery-thumb">
                            <div class="thumbnail">
                                <img src="assets/images/gallery/{{ picture.name }}" alt="">
                                <form class="col-xs-2" action="admin.php?route=admingallerydelete" method='post'>
                                    <div class="form-group">
                                        <input type="hidden" class="form-control" name="id"
                                               value="{{ picture.id }}">
                                    </div>
                                    <button type="submit"
                                            class="btn btn-danger"><span
                                                class="glyphicon glyphicon-trash"
                                                aria-hidden="true"></span> Supprimer
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

    </div>
{% endblock %}
