{% extends 'Admin/baseadmin.html.twig' %}

{% block pageTitle %}Administration{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <h1>Administration du site</h1>
        </div>
        <div class="row">
            <div class="col-xs-4 col-md-4">
                <a href="admin.php?route=admincolor" class="thumbnail">
                    <img src="assets/images/logo/iconpaint.png" alt="..."><span>Administrer les couleurs</span>
                </a>
            </div>
            <div class="col-xs-4 col-md-4">
                <a href="admin.php?route=adminform" class="thumbnail">
                    <img src="assets/images/logo/iconmail.png" alt="..."><span>Administrer les Emails</span>
                </a>
            </div>
            <div class="col-xs-4 col-md-4">
                <a href="admin.php?route=adminmodel" class="thumbnail">
                    <img src="assets/images/logo/iconvetement.png" alt="..."><span>Administrer les modèles</span>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-md-4">
                <a href="admin.php?route=adminhome" class="thumbnail">
                    <img src="assets/images/logo/iconaccueil.png" alt="..."><span>Administrer la page d'accueil</span>
                </a>
            </div>
            <div class="col-xs-4 col-md-4">
                <a href="admin.php?route=admingallery" class="thumbnail">
                    <img src="assets/images/logo/icongalerie.png" alt="..."><span>Administrer la galerie</span>
                </a>
            </div>
            <div class="col-xs-4 col-md-4">
                <a href="index.php" class="thumbnail">
                    <img src="assets/images/logo/iconback.png" alt="..."><span>Retour au site Karura</span>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
