{% extends 'Admin/baseadmin.html.twig' %}

{% block pageTitle %}Administration des catégories{% endblock %}

{% block content %}
    <h1>Administration des catégories</h1>

    <ul>
        {% for category in categories %}
            <li>Nom : {{ category.name }}</li>
        {% endfor %}
    </ul>

{% endblock %}
