{% extends 'base.html.twig' %}

{% block pageTitle %}Administration{% endblock %}

{% block content %}
    <h1>Administration du site</h1>
    <p>
        <a href="index.php?route=admincolor">Administrer les couleurs</a>
    </p>

    A faire :
    - administrer les modèles
    - administrer les variantes par modèle
    - administrer les couleurs :: DONE
    - administrer les catégories
    - administrer le formulaire de contact (email de redirection des messages)
    - administrer les modèles mis en avant sur l'accueil ?
    -

{% endblock %}
