{% extends 'Admin/baseadmin.html.twig' %}

{% block pageTitle %}Modification de l'adresse de réception du formulaire{% endblock %}

{% block content %}

    <div class="container">
    <h1>Modification de l'adresse de réception du formulaire</h1>
    <form action="admin.php?route=adminform-reception-address-update" method="POST">
        <label for="formReceptionAddress">Veuillez saisir votre nouvelle adresse de réception des messages du
            formulaire</label>
        <input type="email" id="formReceptionAddress" name="formReceptionAddress" class="form-control" required>
        <button type="submit" class="btn btn-success button-mail-address"><span class="glyphicon glyphicon-ok"
                                                            aria-hidden="true"> Valider</span></button>
    </form>

    <form action="admin.php?route=adminform" method='post'>
        <button type="submit" class="btn btn-danger button-mail-address"><span class="glyphicon glyphicon-remove"
                                                                               aria-hidden="true"> Annuler</span></button>
    </form>
    </div>

{% endblock %}
