{% extends 'Admin/baseadmin.html.twig' %}

{% block pageTitle %}Administration des couleurs{% endblock %}

{% block content %}

    <h1>Modifier une couleur</h1>

    <form class="contactForm" action="admin.php?route=admincolorupdate" method='post'>
        <div class="form-group">
            <input type="hidden" class="form-control" name="color_id" value="{{ color.id }}">
            <label for="name">Nom de la couleur</label>
            <input id="name" type="text" class="form-control" name="name" value="{{ color.name }}">
            <label for="hexa">Code couleur</label>
            <input id="hexa" type="color" class="form-control" name="hexa" value="{{ color.hexa }}">
        </div>

        <button type="submit" class="btn btn-info" name="updating" value="1"><span class="glyphicon glyphicon-edit"
                                                                                   aria-hidden="true"></span> Modifier
        </button>

        <a href="admin.php?route=admincolor" class="pull-right btn btn-danger">
        <span class="glyphicon glyphicon-remove"
              aria-hidden="true"></span> Annuler</a>
    </form>


{% endblock %}
