{% extends 'base.html.twig' %}

{% block pageTitle %}Mentions légales{% endblock %}

{% block content %}
<div class="container">

    <div class="jumbotron">
        <h1>À PROPOS</h1>
    </div>
    <h1>Nous créons votre modèle adapté à votre discipline artistique</h1>
    <p>Celui que vous avez imaginé<br/>
    Un modèle créé pour vous selon votre thème<br/>
    A définir selon votre budget<br/>
    Un modèle à l'image de votre club<br/>
    Ainsi que les accessoires assortis.</p>
    <h1>Et tout ceci dans le but de vous façonner des modèles uniques.</h1>
</div>
{% endblock %}