{% extends 'base.html.twig' %}

{% block pageTitle %}Mentions légales{% endblock %}

{% block content %}
<div class="container">

    <div class="jumbotron">
        <h1>À PROPOS</h1>
    </div>
    <h1>Karura est une jeune entreprise née en 2010 et située à 30 min d’Orléans.</h1>
    <h2>Nous créons votre modèle adapté à votre discipline artistique...</h2>
    <p>... Celui que vous avez imaginé<br/>
    ... Un modèle créé pour vous selon votre thème<br/>
    ... A définir selon votre budget<br/>
    ... Un modèle à l'image de votre club<br/>
    ... Ainsi que les accessoires assortis</p>
    <h2>Et tout ceci dans le but de façonner des modèles uniques et entièrement fabriqués en France.<br/>
    N'hésitez pas à m'appeler si vous avez à nouveau besoin.</h2>
</div>
{% endblock %}