{% extends 'base.html.twig' %}

{% block pageTitle %}Contact{% endblock %}

{% block content %}

    <h2>Une question, un renseignement... Contactez-nous !</h2>

    <form action="" method="POST" enctype="multipart/form-data">
        <p class="form-group">
            <label for="gender">Civilité :</label>
            <input type="radio" id="formGenderMadame" name="gender" value="Madame" checked> Madame
            <input type="radio" id="formGenderMonsieur" name="gender" value="Monsieur"> Monsieur
        </p>

        <p class="form-group">
            <label for="formLastName">Nom :</label>
            <input type="text" id="formLastName" class="form-control" name="formLastName" required>
        <p>{{ errors['formName'] ? errors['formName']}}</p>
        </p>

        <p class="form-group">
            <label for="firstNameForm">Prénom :</label>
            <input type="text" id="firstNameForm" class="form-control" name="formFirstName">
        </p>

        <p class="form-group">
            <label for="formTel">Téléphone :</label>
            <input type="text" pattern="0[1-8]([-. ]?[0-9]{2}){4}" id="formTel" class="form-control" name="formTel">
        </p>

        <p class="form-group">
            <label for="formMail">E-mail :</label>
            <input type="email" pattern="[a-z0-9._-]+@[a-z0-9._-]{2,}\.[a-z]{2,4}$" id="formMail" class="form-control" name="formMail" required>
        <p>{{ errors['formMail'] ? errors['formMail']}}</p>
        <p class="form-group">
            <label for="formMessage">Message / Question :</label>
            <textarea type="text" id="formMessage" class="form-control" name="formMessage" required></textarea>
        <p>{{ errors['formMessage'] ? errors['formMessage']}}</p>
        </p>
        <p class="form-group">
            <label for="formFile">Inclure une pièce-jointe :</label>
            <input type="file" id="formFile" name="formFile">
        </p>
        <button type="submit" class="btn btn-default" data-toggle="modal" data-target="#confirm-submit">Envoyer</button>
    </form>

{% endblock %}
