<!-- footer -->
<footer>
    <hr class="separator">
    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-4">
                <p><a href="index.php?route=mentions">Mentions légales</a></p>
            </div>
            <div class="col-sm-5 contactUs">
                <p>Nous contacter : <a href="index.php?route=contact">carine@karura.fr</a></p>
            </div>
            <div class="col-sm-3">
                <a class="pull-right" href="https://wildcodeschool.fr/" target="_blank">
                    <img src="assets/images/logo/wildcodeschool_logo.png" alt="Logo Wild Code School">
                </a>
            </div>
        </div> <!-- end row -->
    </div> <!-- end container footer -->
</footer>