{% extends 'base.html.twig' %}
{% block content %}

    <!--Thumbnail Catalogue -->
    <div class="jumbotron">
        <h1>NOTRE GALERIE</h1>
    </div>

    <div class="container">
        <div class="gallery">
        <div class="bloc">
            {% for picture in pictures %}
            <div class="grid-item">
                <a href="#" data-toggle="modal" data-target="#2">
                    <figure>
                <img class="img-responsive" src="assets/images/gallery/{{ picture.name }}" alt="">
                    </figure>
                </a>
                <div class="modal fade" id="2" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <img src="assets/images/gallery/{{ picture.name }}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
        </div>
    </div>
{% endblock %}