{% extends 'base.html.twig' %}

{% block body %}

    {% include 'slider.html.twig' %}

    <!--Categorie 1-->
    <div class="container-fluid">
        <div class="category-thumbnail">
            <div class="row">
                <div class="hidden-sm hidden-xs col-md-4">
                    <div class="rectangle-category">
                        <p>G.R</p>
                    </div>
                </div>
                <div class="col-sm-4 hidden-lg">
                    <div class="rectangle-category-sm">
                        <p>G.R</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="thumbnail">
                        <img src="assets/images/jupette_gr1.jpg" alt="">
                        <p class="text">Modèle 1</p>
                    </div>
                </div>
                    <div class="container">
                        <div class="col-lg-4">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="thumbnail">
                                        <img src="assets/images/jupette_gr2.jpg" alt="">
                                        <p class="text">Modèle 2</p>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="thumbnail">
                                        <img src="assets/images/jupette_gr3.jpg" alt="">
                                        <p class="text">Modèle 3</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="thumbnail">
                                        <img src="assets/images/jupette_gr4.jpg" alt="">
                                        <p class="text">Modèle 4</p>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="thumbnail">
                                        <img src="assets/images/jupette_gr5.jpg" alt="">
                                        <p class="text">Modèle 5</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <!--Categorie 2-->
    <div class="container-fluid">
        <div class="category-thumbnail">
            <div class="row">
                <div class="hidden-sm hidden-xs col-md-4">
                    <div class="rectangle-category">
                        <p>Natation Synchronisé</p>
                    </div>
                </div>
                <div class="col-sm-4 hidden-lg">
                    <div class="rectangle-category-sm">
                        <p>Natation Synchronisé</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="thumbnail">
                        <img src="assets/images/maillot_synchro1.jpg" alt="">
                        <p class="text">Modèle 1</p>
                    </div>
                </div>
                <div class="row">
                    <div class="container">
                    <div class="col-lg-4">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="thumbnail">
                                    <img src="assets/images/maillot_synchro2.jpg" alt="">
                                    <p class="text">Modèle 2</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="thumbnail">
                                    <img src="assets/images/maillot_synchro3.jpg" alt="">
                                    <p class="text">Modèle 3</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="thumbnail">
                                    <img src="assets/images/maillot_synchro4.jpg" alt="">
                                    <p class="text">Modèle 4</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="thumbnail">
                                    <img src="assets/images/maillot_synchro5.jpg" alt="">
                                    <p class="text">Modèle 5</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>


    <!--Categorie 3-->
    <div class="container-fluid">
        <div class="category-thumbnail">
            <div class="row">
                <div class="hidden-sm hidden-xs col-md-4">
                    <div class="rectangle-category">
                        <p>Accessoires</p>
                    </div>
                </div>
                <div class="col-sm-4 hidden-lg">
                    <div class="rectangle-category-sm">
                        <p>Accessoires</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="thumbnail">
                        <img src="assets/images/coiffe1.jpg" alt="">
                        <p class="text">Modèle 1</p>
                    </div>
                </div>
                <div class="row">
                    <div class="container">
                        <div class="col-lg-4">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="thumbnail">
                                        <img src="assets/images/coiffe2.jpg" alt="">
                                        <p class="text">Modèle 2</p>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="thumbnail">
                                        <img src="assets/images/coiffe3.jpg" alt="">
                                        <p class="text">Modèle 3</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="thumbnail">
                                        <img src="assets/images/coiffe4.jpg" alt="">
                                        <p class="text">Modèle 4</p>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="thumbnail">
                                        <img src="assets/images/coiffe5.jpg" alt="">
                                        <p class="text">Modèle 5</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Categorie 4-->
    <section class="category-thumbnail">
    <div class="container-fluid">
            <div class="row">
                <div class="hidden-sm hidden-xs col-md-4">
                    <div class="rectangle-category">
                        <p>Twirling</p>
                    </div>
                </div>
                <div class="col-sm-4 hidden-lg">
                    <div class="rectangle-category-sm">
                        <p>Twirling</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="thumbnail">
                        <img src="assets/images/twirling1.jpg" alt="">
                        <p class="text">Modèle 1</p>
                    </div>
                </div>
                <div class="row">
                    <div class="container">
                        <div class="col-lg-4">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="thumbnail">
                                        <img src="assets/images/twirling2.jpg" alt="">
                                        <p class="text">Modèle 2</p>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="thumbnail">
                                        <img src="assets/images/twirling3.jpg" alt="">
                                        <p class="text">Modèle 3</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="thumbnail">
                                        <img src="assets/images/twirling4.jpg" alt="">
                                        <p class="text">Modèle 4</p>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="thumbnail">
                                        <img src="assets/images/twirling5.jpg" alt="">
                                        <p class="text">Modèle 5</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



{% endblock %}