{% extends 'base.html.twig' %}

{% block body %}

    {% for declinations in declinationsByCat %}

        {# add One rectangle by category #}
        <div class="row">

            {% for declination in declinations %}
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <figure class="thumbnail">
                        <img src="assets/images/{{ declination.mainImage }}" alt="">
                        <figcaption class="caption">
                            <p>{{ declination.mainImage }}</p>
                        </figcaption>
                    </figure>
                </div>
            {% endfor %}

        </div>
    {% endfor %}

{% endblock %}