{# mentions.html.twig #}
{% extends 'base.html.twig' %}

{% block pageTitle %}Mentions légales{% endblock %}

{% block content %}

    <section class="mention-page">
        <div class="container">

    <h1>Mentions légales</h1>
    <h2>Editeur</h2>
    <p>KARURA,    Artisant - Créateur<br/>
    Siège social : 876 rue de la Chesnaie, 45470 LOURY.<br/>
    Siret : 52313622400012<br/>
    Inscrit au registre de la Chambre des Métiers et de l'Artisanat du Loiret</p>


    <h2>Responsable de publication</h2>
    <p>Mme Carine COSSON.</p>


    <h2>Hébergement</h2>
    <p>Ce site est hébergé chez OVH.</p>


    <h2>Protection des données personnelles sur le site</h2>
    <p>Aucune donnée à caractère personnel n'est stockée sur ce site, qui respecte les règles suivantes :<br/>
    - 1. Pas d’information collectée à l’insu de l’internaute<br/>
    - 2. Pas de cession à des tiers</p>


    <h2>Droit d'auteur - Copyright</h2>
    <p>L'ensemble de ce site relève de la législation française et internationale sur le droit d'auteur et la propriété
        intellectuelle. Tous les droits de reproduction sont réservés, y compris pour les documents téléchargeables et
        les représentations iconographiques et photographiques.<br/>
    La reproduction de tout ou partie de ce site sur un support quelconque, matériel ou immatériel,
        quel qu'il soit est formellement interdite sauf autorisation expresse du responsable de publication.</p>


    <h2>Fonctionnement</h2>
    <p>Pour toute remarque sur le fonctionnement du site, veuillez adresser un message au webmaster</p>

        </div>
    </section>

{% endblock %}
