<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active slider1">
            <div class="carousel-caption">
                <div>
                    <p class="premierParaSlider animJs1">KARURA EST SPÉCIALISÉE</p>
                    <p class="secondParaSlider animJs2">DANS LES TENUES DE SPORT ARTISTIQUE</p>
                </div>
                <p class="troisiemeParaSlider animJs3">maillot de bain, justaucorps, jupette, léotard...</p>
            </div>
        </div>
        <div class="item slider2">
            <div class="carousel-caption">
                <div>
                    <p class="premierParaSlider">Natation synchronisée, twirling, GR,</p>
                    <p class="secondParaSlider">patinage, gym, cirque, majorette...</p>
                </div>
                <p class="troisiemeParaSlider">...NOUS CRÉONS VOTRE MODÈLE ADAPTÉ À VOTRE ENVIES</p>
            </div>
        </div>
        <div class="item slider3">
            <div class="carousel-caption">
                <div>
                    <p class="premierParaSlider">KARURA EST SPÉCIALISÉE</p>
                    <p class="secondParaSlider">DANS LES TENUES DE SPORT ARTISTIQUE</p>
                </div>
                <p class="troisiemeParaSlider">maillot de bain, justaucorps, jupette, léotard...</p>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>