/* START BODY */

@font-face {
    font-family: 'Tahoma' ;
    src: url(../fonts/Tahoma_regular_font.ttf);
}

@font-face {
    font-family: 'Trajan';
    src: url(../fonts/TrajanPro-Regular.ttf);
}

h1, h2, span, .premierParaSlider, .navbar-default .navbar-nav > li > a, .text, footer a, footer p, input, .nbr-search p,
.action-button, .dropdown-menu a {
    font-family: 'Trajan', 'sans-serif';
}

p{
    font-family: 'Tahoma', 'sans-serif';
}

.returnMessage {
    margin-top: 20px;
}

/* END BODY

------------------------------------------------------------------------------------------------------------------------

START BARRE DE NAVIGATION */

/*Couleur de barre de navigation*/
.navbar {
    background-color: white;
    margin-bottom: 0;
    border: none;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
    z-index:1000;
}

/*Positionnement des catégories sur l'axe Y*/
.navbar-collapse {
    padding-top: 50px;
}

/*Barre de recherche rectangulaire*/

.form-control {
    border-radius: 0;
}

/*Bouton de recherche*/

.btn {
    border-radius: 0;
}

/*Barre de recherche effet blur*/
.form-control:focus {
    border-color: #D821AD;
    box-shadow: inset 0 1px 1px rgba(216, 33, 173, 0.075), 0 0 8px rgba(216, 33, 173, 0.6);
}

/*Couleur et taille police*/
.navbar-default .navbar-nav > li > a {
    color: black;
    font-size: calc(80% + 10px);
}

/*Couleur et effet lors du survole des catégories*/
.navbar-default .navbar-nav > li > a:hover {
    color: #D821AD;
    transition: all 0.4s ease 0s;
}

/*Couleur de la police du menu déroulant*/
.dropdown-menu > li > a {
    color: black;
    padding-left:5px;

}

/*Placement du logo de la navbar*/
.navbar .container-fluid {
    padding-left: 0;
}

/*Dropdown menu */

.dropdown-menu {
    min-width: 100%;
    border-radius: 0;
}

/*Lors de l'activation d'une catégorie, encadrement + transition*/
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #D821AD;
    color: black;
}



/* END BARRE DE NAVIGATION

------------------------------------------------------------------------------------------------------------------------

START SLIDER */

/*Disparition des barres de contrôle*/
.carousel-control.left, .carousel-control.right {
    background-image: none
}

/*Hauteur du slider et taille de l'iamge de fond*/
.carousel-inner > .item {
    height: 30vw;
    background-size: cover;
}

.carousel-control {
    color: #D821AD;
}

.carousel-control:hover {
    color: #D821AD;
}

.carousel-control:focus, .carousel-control:hover {
    color: #D821AD;
}

.slider1 {
    background: url('../images/agi02.jpg') center no-repeat;
}

.slider2 {
    background: url('../images/agi05.jpg') center no-repeat;
}

.slider3 {
    background: url('../images/agi06.jpg') center no-repeat;
}

/*Taille police du paragraphe*/
p {
    font-size: 2em;
}

/*Position du paragrahe*/
.carousel-caption {
    height: 80%;
    bottom: 10%;
}

/*Décalage paragraphe*/
.premierParaSlider {
    text-align: center;
    font-weight: bold;
    font-size: 3em;
    text-decoration-line: underline;
    text-decoration-color: #D821AD;
}

/*Décalage paragraphe*/
.secondParaSlider, .troisiemeParaSlider {
    text-align: center;
}

.action-button {
    font-size: 1.5em;
    background-color: #D821AD;
    color: white;
    padding: 10px 5px 5px 5px;
}

.action-button:hover {
    color: #E3E3E3;
    text-decoration: none;
}

.animJs1 {
    display: none;
}

.animJs2 {
    display: none;
}

.animJs3 {
    display: none;
}

/*En taille d'écran téléphone le slider disparait*/
@media (max-width: 500px) {
    #carousel-example-generic {
        display: none;
    }
}

/* END SLIDER

------------------------------------------------------------------------------------------------------------------------

START FORM */

.form h2 {
    text-align: center;
    margin: 25px 0;
}

.contactForm {
    margin: 0 auto 60px auto;
    width: 80vw;
    padding: 1em;
    border: 1px solid #D821AD;
    font-size: 20px;
}

.form-upload {
    margin: 20px 0;
}

.formFile {
    font-size: 15px;
}

.errorForm {
    font-size: 20px;
    color : #D821AD;
}

textarea.form-control {
    height: 10em;
}

@media (max-width: 500px) {
    .contactForm {
        font-size: 15px;
    }
    .errorForm {
        font-size: 15px;
    }
    .formFile {
        font-size: 12px;
    }

}

/* END FORM

------------------------------------------------------------------------------------------------------------------------

Start Mise en forme des thumbnails*/

.category-thumbnail {
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
}

.title-block {
    display: inline-block;
    position: absolute;
    padding: 0;
    margin-bottom: 0;
    width: 42vh;
    height: 53vh;
    min-height: 100%;
    float: left;
    box-shadow: 5px 5px 5px #b2b2b2;
}

/* Alternate bg color of rectangle in Home */
.category-thumbnail:nth-child(2n) .title-block {
    background-color: #E3E3E3;
}

.category-thumbnail:nth-child(2n+1) .title-block {
    background-color: #4C4C4C;
    color: #E3E3E3;
}

.title-block span {
    font-size: 5vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-80%);
}

.title-block-sm {
    background-color: #E3E3E3;
    color: black;
    text-align: center;
    padding: 0;
    margin-bottom: 5vh;
    font-size: 6vh;
    width: 100%;
    height: 10vh;
    min-height: 100%;
}

.thumbnail-sm .thumbnail {
    position: relative;
    width: 18.1vh;
    padding-bottom: 5vh;
}

.main-thumbnail .thumbnail {
    position: relative;
    width: 40vh;
}

.thumbnail {
    margin-bottom: 0;
    border: none;
    border-radius: 0;
    padding: 0;
    overflow: hidden;
    margin-left: 0;
}

.thumbnail img {
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.thumbnail:hover img {
    opacity: 0.3;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: all .3s ease-in-out;
}

/*End Mise en forme thumbnail

------------------------------------------------------------------------------------------------------------------------

Start Mise en form textes thumbnails */

.text {
    color: black;
}

.thumbnail:hover p.text {
    opacity: 1;
}

.thumbnail p.text {
    opacity: 0;
    display: block;
    position: absolute;
    transition: opacity .5s ease-in-out;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*End Mise en forme textes thumbnails

------------------------------------------------------------------------------------------------------------------------

START FOOTER */

footer {
    background-color: #F3F3F3;
    width: 100%;
    padding-top: 5vh;
    margin-top: 10vh;
    bottom:0;
    position: relative;
}

footer a {
    color: black;
}

footer a:hover {
    color: #D821AD;
    text-decoration: none;
}

footer img {
    width: 5vw;
}


/*End footer

------------------------------------------------------------------------------------------------------------------------

Start page mentions légales*/

.mention-page h1 {
    text-align: center;
    color: #555562;
}

.mention-page h2 {
    font-size: calc(3em * 0.625);
    color: #555562;
}

.mention-page p {
    font-size: calc(2em * 0.625);
}

/*End page mentions légales

------------------------------------------------------------------------------------------------------------------------

Start pages modèles*/

.main-model-row, .declination-row {
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
}

.main-thumbnail-model:hover img, .secondary-thumbnail-model:hover img {
    opacity: 1.0;
    transform: none;
}

.declination-model {
    width: 18vh;
    height: 25vh;
}

.model-button {
    font-size: 1.5em;
    background-color: #D821AD;
    color: white;
    padding: 10px 5px 5px 5px;
    border: none;
}

.modal-header h2 {
    text-align: center;
}

/*End pages modèles

------------------------------------------------------------------------------------------------------------------------

Start pages Catalogue*/

.jumbotron {
    text-align: center;
    margin-top: 5vh;
    color: #555562;
}

.container .jumbotron {
    border-radius: 0;
}

/* Alternate bg color of rectangle in Home */
.catalog-row:nth-child(2n) .jumbotron {
    background-color: #E3E3E3;
}

.catalog-row:nth-child(2n+1) .jumbotron {
    background-color: #4C4C4C;
    color: #E3E3E3;
}

.catalog-thumb .thumbnail {
    margin-top: 5vh;
    margin-bottom: 5vh;
}

/*End pages Catalog

------------------------------------------------------------------------------------------------------------------------

Start pages Product*/

.nbr-search p {
    text-align: center;
    margin-top: 5vh;

}

/*End pages Product*/

/*Start admin button*/

.adminButton{
    margin-bottom: 10px;
}

/*End admin button*/