/* Style page accueil Admin */

.thumbnail {
    border : none;
    text-align: center;
    font-size: 1.5em;
    color: black;
}

.row h1 {
    text-align: center;
}

/*Start Administration Email Address*/

.mailReceptionAddress {
    color: #D821AD;
}

.button-mail-address {
    float: right;
    margin: 0.5vw;
}

/*End Administration Email Address*/

/* Error messages for admin */
.errorMessage {
    color: red;
}

/* End Error messages for admin */
/*Start Administration Colors*/

.colorAdmin {
    margin-top: 3vh;
}