{% extends 'base.html.twig' %}

{% block pageTitle %}Recherche{% endblock %}

{% block body %}
    {% for model in models %}
        <li>Modèle : {{ model.Name }} id = {{ model.Id }}</li>
    {% endfor %}
{% endblock %}
