{% extends 'base.html.twig' %}

{% block pageTitle %}Recherche{% endblock %}

{% block body %}
    <h1>{{  pageTitle ?? '' }}</h1>

    <div class="row">

        {% for declination in declinations %}
            <div class="col-sm-6 col-md-4 col-lg-3">
                <figure class="thumbnail">
                    <img src="assets/images/{{ declination.mainImage }}" alt="">
                    <figcaption class="caption">
                        <p class="text">{{ declination.mainImage }}</p>
                    </figcaption>
                </figure>
            </div>
        {% endfor %}

    </div>

{% endblock %}